<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Location De  Voiture </title>
    <link rel="stylesheet" href="static/css/team.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
    <div class="title">
        <h1>Notre Équipe</h1>
        <p>Nos membres s’impliquent corps et âme dans ce qui les passionne le plus : la performance. <br> Notre équipe valorise le respect mutuel et les relations durables, <br> </p>
    </div>

    <div class="team-row">
        
        <div class="profile notmine">
            <h4>LAGNAOUI<br>RIDA</h4>
            <img src="static/images/profile.png" alt="RIDA">
            <div class="social">
                <a href="mailto: lagnaoui.rida@emsi-edu.ma?subject= Projet " target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com/rida_lagnaoui/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rida-lagnaoui-054b58236/?trk=public_profile_browsemap&originalSubdomain=ma" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"La vie non examinée ne vaut pas la peine d'être vécue."</p>
        </div>

        <div class="profile notmine">
            <h4>SOUALAH<br>ZAKARIA</h4>
            <img src="static/images/profile.png" alt="ZAKARIA">
            <div class="social">
                <a href="mailto: soualah.zakaria@emsi-edu.ma= Projet " target="_blank"><i class="fa fa-envelope"></i></a>
                 <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href=" https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"C'est à force de forger qu'on devient forgeron."</p>
        </div>

        <div class="profile">
            <h4><br>BOUJJA<br>MERYEM</h4>
            <img src="static/images/profile.png" alt="MERYEM">
            <div class="social">
                <a href="mailto: boujja.meryem@emsi-edu.ma?subject= Projet " target="_blank"><i class="fa fa-envelope"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href=" https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"Faites-le fonctionner, faites-le bien, faites-le vite."</p>
        </div>


    </div>

</body>

</html>